<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>adType</key>
		<string>single_banner</string>
		<key>appCount</key>
		<string>1</string>
		<key>adFrameWidth</key>
		<string>320</string>
		<key>adFrameHeight</key>
		<string>100</string>
		<key>isNeedIcon</key>
		<true/>
		<key>isNeedTitle</key>
		<true/>
		<key>isNeedRating</key>
		<true/>
		<key>isNeedCatagory</key>
		<true/>
		<key>isNeedSize</key>
		<true/>
		<key>isNeedInstallButton</key>
		<true/>
		<key>isNeedReviewNumber</key>
		<true/>
		<key>blockBackColor</key>
		<string></string>
		<key>appTitleColor</key>
		<string></string>
		<key>buttonBackColor</key>
		<string></string>
		<key>buttonTextColor</key>
		<string></string>
		<key>mainBackColor</key>
		<string></string>
	</dict>
	<dict>
		<key>adType</key>
		<string>AVAZU_SINGLE_BANNER</string>
		<key>appCount</key>
		<string>4</string>
		<key>adFrameWidth</key>
		<string>320</string>
		<key>adFrameHeight</key>
		<string>400</string>
		<key>isNeedIcon</key>
		<true/>
		<key>isNeedTitle</key>
		<true/>
		<key>isNeedRating</key>
		<true/>
		<key>isNeedCatagory</key>
		<true/>
		<key>isNeedSize</key>
		<true/>
		<key>isNeedInstallButton</key>
		<true/>
		<key>isNeedReviewNumber</key>
		<true/>
		<key>blockBackColor</key>
		<string></string>
		<key>appTitleColor</key>
		<string></string>
		<key>buttonBackColor</key>
		<string></string>
		<key>buttonTextColor</key>
		<string></string>
		<key>mainBackColor</key>
		<string></string>
	</dict>
	<dict>
		<key>adType</key>
		<string>AVAZU_BANNER_APPWALL</string>
		<key>appCount</key>
		<string>4</string>
		<key>adFrameWidth</key>
		<string>320</string>
		<key>adFrameHeight</key>
		<string>200</string>
		<key>isNeedIcon</key>
		<true/>
		<key>isNeedTitle</key>
		<true/>
		<key>isNeedRating</key>
		<false/>
		<key>isNeedCatagory</key>
		<false/>
		<key>isNeedSize</key>
		<false/>
		<key>isNeedInstallButton</key>
		<true/>
		<key>isNeedReviewNumber</key>
		<false/>
		<key>blockBackColor</key>
		<string></string>
		<key>appTitleColor</key>
		<string></string>
		<key>buttonBackColor</key>
		<string></string>
		<key>buttonTextColor</key>
		<string></string>
		<key>mainBackColor</key>
		<string></string>
	</dict>
	<dict>
		<key>adType</key>
		<string>AVAZU_SINGLE_BUTTON_APP_WALL</string>
		<key>appCount</key>
		<string>6</string>
		<key>adFrameWidth</key>
		<string>320</string>
		<key>adFrameHeight</key>
		<string>360</string>
		<key>isNeedIcon</key>
		<true/>
		<key>isNeedTitle</key>
		<true/>
		<key>isNeedRating</key>
		<false/>
		<key>isNeedCatagory</key>
		<false/>
		<key>isNeedSize</key>
		<false/>
		<key>isNeedInstallButton</key>
		<true/>
		<key>isNeedReviewNumber</key>
		<false/>
		<key>blockBackColor</key>
		<string></string>
		<key>appTitleColor</key>
		<string></string>
		<key>buttonBackColor</key>
		<string></string>
		<key>buttonTextColor</key>
		<string></string>
		<key>mainBackColor</key>
		<string></string>
	</dict>
</array>
</plist>
